name: dicoding_subscriptions
description: A new Flutter project.

publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ">=2.15.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.2 
  flutter_localizations:
    sdk: flutter
  intl: ^0.20.2
  app_settings: ^6.1.1

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints:

flutter:
  uses-material-design: true

  generate: true

  assets:
    - assets/dicoding-academy.png
